extends layouts/login-layout.pug

block  container
    .container
        .row
            div.col-sm-9.col-md-7.col-lg-5.mt-5.mx-auto
                div.card.card-signin.my-5
                    div.text-center.mt-5
                        img(height='100px' width='100px' src='https://storage.googleapis.com/portal-assets-prod/assets/images/global/laureate-logo.png')
                    
                    div.card-body
                        h5.card-title.text-center.text-info Welcome
                        form.form-signin
                            .form-label-group
                                input(readonly autofocus placeholder="email" type="email" id="email" class="form-control" value="your email")
                                label(for="email" text="Email Addres")
                                input(required autofocus placeholder="your password" type="password" id="password" class="form-control" value="your email")
                                label(for="password" text="Email Addres")
                            button(class="btn p-2 btn-lg btn-outline-orange btn-block text-uppercase" type="submit") Submit
        
