extends layouts/login-layout.pug

block container
    main(role="main" class="container")
        .my-3.p-3.bg-white.rounded.box-shadow
            h6.border-bottom.border-gray.pb-2.mb-0 Sections
            .media.text-muted.pt-3
                p.media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
                    strong.d-block.text-gray-dark
                        a(href="login-form-email.html") Login Form email
            
            .media.text-muted.pt-3
                p.media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
                    strong.d-block.text-gray-dark
                        a(href="#") Login Form Password
            
            .media.text-muted.pt-3
                p.media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
                    strong.d-block.text-gray-dark
                        a(href="#") Login Error Page
